body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Links {
  list-style: none;
  display: flex;
  gap: 1.5rem; 
}

.link {
  cursor: pointer;
  transition-duration: 70ms;
  color: black;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.04);
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.buttons {
  margin-top: 1rem;
}

.button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}