body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef6ff;
  color: #1b1c3d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Links {
  list-style: none;
  display: flex;
  gap: 1.5rem; 
}

.link {
  cursor: pointer;
  transition-duration: 70ms;
  color: black;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.04);
}

.Home, .Login, .Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.buttons {
  margin-top: 2rem;
}

.button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: large;
  border: 1.5px solid #1b1c3d;
  background-color: #eef6ff;
  border-radius: 5px;
  transition-duration: 100ms;
}

.button:hover {
  transform: scale(1.05);
}

.title {
  margin-bottom: 0.75rem;
}

.description {
  margin-top: 0.5rem;
  font-size: x-large;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

form > * > label {
  align-self: flex-start;
}

form > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

form > * > input {
  padding: 0.4rem;
  width: 60vh;
}

form > * select {
  padding: 0.4rem;
  width: 12vh;
  text-align: center;
  align-self: flex-start;
}

form > button {
  align-self: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}